<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>CRUD</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }
        .content-container {
            min-height: calc(100vh - 56px);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>
<body>

<div class="content-container">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <p class="lead">Создайте нового пользователя</p>
            </div>
        </div>
        <div class="container">
            <form th:method="POST" th:action="@{/users}" th:object="${user}">
                <input type="hidden" th:field="*{id}">
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="name">Имя</label>
                        <input type="text" class="form-control" id="name" th:field="*{firstName}" placeholder="Введите имя" required>
                        <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="last_name">Фамилия</label>
                        <input type="text" class="form-control" id="last_name" th:field="*{lastName}" placeholder="Введите фамилию">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="email">Электронная почта</label>
                        <input type="text" class="form-control" id="email" th:field="*{email}" placeholder="Введите почту" required>
                        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="password">Пароль</label>
                        <input type="password" class="form-control" id="password" th:field="*{password}" placeholder="Введите пароль" required>
                        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                    </div>
                </div>

                <button class="btn btn-secondary" type="submit" th:text="${user.id}? 'Сохранить' : 'Создать'"></button>
            </form>
        </div>
    </div>
</div>

<div th:replace="layouts/main :: footer"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
